[package]
name = "egui_graphs"
version = "0.5.2-beta.1"
authors = ["Dmitrii Samsonov <blitzarx1@gmail.com>"]
license = "MIT"
homepage = "https://github.com/blitzarx1/egui_graphs"
repository = "https://github.com/blitzarx1/egui_graphs"
description = "Interactive graph visualization widget for rust powered by egui"
edition = "2021"

[dependencies]
egui = "0.22"
rand = "0.8"
petgraph = "0.6"

[workspace]
members = ["examples/*"]
